@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@100..900&display=swap');

/* Global styles */
*{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  font-weight: 400;
}